/*
	Theme Name: Alberta Alpine
	Theme URI: http://html5blank.com
	Description: Alberta Alpine Theme Design
	Version: 0.5
	Author: Pragmatic
	Author URI: http://thinkpragmatic.com/home
	Tags: Alberta Alpine, skiing, responsive

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/*------------------------------------*\
    LESS VARIABLES
\*------------------------------------*/
.main_background {
  background-color: #a61301;
}
.main_foreground {
  color: #a61301;
}
a.main_foreground:hover,
a.main_foreground:focus {
  color: #d91901;
}
a.main_background:hover,
a.main_background:focus {
  background-color: #d91901;
}
a.sidebar_background:hover,
a.sidebar_background:focus {
  background-color: #5e9dca;
}
a .sidebar_background:hover,
a .sidebar_background:focus {
  background-color: #5e9dca;
}
.sidebar_background {
  background-color: #3d85b8;
}
a.sidebar_background:hover,
a.sidebar_background:focus {
  background-color: #5e9dca;
}
.sidebar_foreground {
  color: #3d85b8;
}
a.sidebar_foreground {
  color: #3d85b8;
}
a.sidebar_foreground:hover,
a.sidebar_foreground:focus {
  color: #5e9dca;
  text-shadow: 0px 0px 0.2px #3d85b8;
}
.sidebar_triangle {
  border-color: #3d85b8 transparent transparent transparent;
}
.main_triangle {
  border-color: #a61301 transparent transparent transparent;
}
.transparency {
  opacity: 0.95;
}
hr {
  border-top: 1px solid #D7D7D7;
}
hr.half {
  margin-top: 5px;
  margin-bottom: 5px;
}
.clearfix {
  clear: both;
}
/* Mixin */
.gradient_white {
  background: -moz-linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on July 2, 2015 */
@font-face {
  font-family: 'ralewayblack';
  src: url('../fonts/raleway-black-webfont.eot');
  src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-black-webfont.woff2') format('woff2'), url('../fonts/raleway-black-webfont.woff') format('woff'), url('../fonts/raleway-black-webfont.ttf') format('truetype'), url('../fonts/raleway-black-webfont.svg#ralewayblack') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ralewaymedium';
  src: url('../fonts/raleway-medium-webfont.eot');
  src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium-webfont.woff2') format('woff2'), url('../fonts/raleway-medium-webfont.woff') format('woff'), url('../fonts/raleway-medium-webfont.ttf') format('truetype'), url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alfa_slab_oneregular';
  src: url('../fonts/alfaslabone-regular-webfont.eot');
  src: url('../fonts/alfaslabone-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/alfaslabone-regular-webfont.woff2') format('woff2'), url('../fonts/alfaslabone-regular-webfont.woff') format('woff'), url('../fonts/alfaslabone-regular-webfont.ttf') format('truetype'), url('../fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
}
body {
  font: 300 11px/1.4 'ralewaymedium', Helvetica, Arial, sans-serif;
  color: #444;
  width: 100%;
  overflow-x: hidden;
}
h1.slab,
h2.slab,
h3.slab {
  font-family: 'alfa_slab_oneregular';
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ralewayblack';
}
h1 {
  margin-top: 0px;
}
/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
a {
  color: #a61301;
  text-decoration: none;
  transition: color 0.25s, background-color 0.25s, text-shadow 0.25s;
}
a:hover {
  color: #bc1008;
  text-decoration: none;
  text-shadow: 0px 0px 0.2px #a61301;
}
a:focus {
  outline: 0;
}
a:hover,
a:active {
  outline: 0;
}
input:focus {
  outline: 0;
  border: 1px solid #04A4CC;
}
article {
  font-size: 125%;
}
.block-section {
  background-color: rgba(255, 255, 255, 0.9);
  transition: width 0.25s, height 0.25s;
  padding: 25px;
}
.body_bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
}
.bg_cover {
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center center !important;
}
.bg_contain {
  background-repeat: no-repeat;
  background-size: contain !important;
  background-position: center !important;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  float: right;
  margin-right: 25px;
  display: none;
}
.triangle_50px {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 0;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
.pagination {
  font-size: 25px;
}
.page-no {
  display: block;
}
.news_story_header {
  display: table;
  width: 100%;
}
.news_story_header a {
  color: #3d85b8;
}
.news_story_header a:hover {
  color: #3d85b8;
  text-shadow: 0 0 0.2px #3d85b8;
}
.news_story_thumbnail {
  display: table-cell;
  vertical-align: top;
  padding-right: 25px;
  padding-bottom: 25px;
}
.news_story_headline {
  display: table-cell;
  vertical-align: top;
}
.news_story_headline h2 {
  margin-top: 0;
}
.news_section_header {
  position: relative;
  width: 100%;
  height: 200px;
}
.news_section_header_text {
  text-align: right;
}
.news_section_header_text h3 {
  margin: 0;
}
.news_section_title {
  color: #e6e6e6;
  position: absolute;
  left: 25px;
  bottom: 25px;
  margin: 0;
}
.news_section_upper_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 100px;
  border-color: transparent transparent #3d85b8 transparent;
  float: left;
}
.news_section_upper {
  float: left;
  height: 100px;
  width: 100%;
}
.news_section_upper_box {
  float: right;
  height: 100px;
  width: calc( 100% - 100px);
}
.news_section_lower_box {
  float: left;
  height: 100px;
  width: 100%;
  position: relative;
}
.news_section_left {
  width: 25%;
  height: 200px;
  float: left;
}
.news_section_big_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 200px 200px 0 0;
  border-color: #3d85b8 transparent transparent transparent;
  float: left;
}
.news_section_overlay {
  width: 100%;
  position: absolute;
  z-index: 5;
}
.news_section_header_image {
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: absolute;
}
.news_section_header_image img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  clip-path: polygon(100% 0, 100% 75%, 75% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 50px, 50px 100%, 0 100%, 0 0);
}
/* Sliders */
.promo_slide {
  width: 100%;
  height: 100%;
}
.slider_tabs {
  z-index: 10000;
  display: table;
  position: absolute;
  width: auto;
  height: 25px;
  right: 25px;
}
.slider_tab {
  width: auto;
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
  height: 25px;
  transition: background-color 0.25s;
}
.slider_tab a {
  color: #e6e6e6;
  font-family: 'ralewayblack';
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
}
.slider_tab a:hover,
.slider_tab a:focus {
  color: #ffffff;
}
.slider_tab.sidebar_background:hover,
.slider_tab.sidebar_background:focus {
  background-color: #5e9dca;
}
.slider_tab.main_background:hover,
.slider_tab.main_background:focus {
  background-color: #d91901;
}
.anythingSlider-default {
  padding: 0px !important;
  margin: 0px !important;
  position: absolute;
  top: 0;
}
.slider_container {
  position: relative;
  height: 300px;
  padding-bottom: 25px;
}
.slider {
  opacity: 1 !important;
}
.anythingSlider-default .anythingWindow {
  border-top: 0px solid !important;
  border-bottom: 0px solid !important;
}
.slide_headline {
  text-shadow: 0px 0px 3px #969696;
  color: #e6e6e6;
  position: absolute;
  bottom: 50px;
  right: 0px;
}
.thumbNav {
  margin-top: -30px !important;
  margin-left: 25px  !important;
  position: absolute  !important;
  z-index: 5000  !important;
}
.anythingSlider-default .anythingControls ul a {
  border-radius: 50px;
  padding: 5px;
  height: 10px;
  font-size: .1px;
  background-color: #bc1008 !important;
}
.anythingSlider-default .anythingControls ul a:hover {
  background-color: #bc1008 !important;
}
.slide_description {
  background-color: rgba(0, 0, 0, 0.8);
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4000;
  color: #e6e6e6;
  padding-right: 25px;
  padding-top: 25px;
}
.slide_description a {
  color: #3d85b8;
}
.slide_headline {
  margin-right: 25px;
  float: right;
}
.panel {
  border-radius: 0px;
  border: 0px;
}
.trans_white {
  background: rgba(255, 255, 255, 0.9);
}
/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
/* wrapper */
.wrapper {
  max-width: 1400px;
  width: 95%;
  margin: 0 auto;
  position: relative;
}
.mid-wrapper {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.mid-section {
  display: inline-block;
  float: left;
}
.header-wrapper {
  display: inline-block;
  width: 100%;
}
.header-section {
  display: inline-block;
}
/* header */
.header_gradient_top {
  display: none;
}
.header_gradient_bottom {
  display: none;
}
/* logo */
.logo {
  text-align: center;
}
.logo-img {
  padding-bottom: 25px;
  max-height: 250px;
  margin: 0 auto;
}
/* nav */
ul.dropdown-menu ul.dropdown-menu {
  display: inline-block;
  position: relative;
}
.navbar-nav {
  background-color: #a61301;
}
.navbar-nav a {
  color: #e6e6e6;
  font-family: 'ralewayblack';
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #bc1008;
  color: #ffffff;
}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #bc1008;
  border-color: #a61301;
}
.dropdown-menu {
  background-color: #560704;
}
.dropdown-menu > li > a {
  color: #e6e6e6;
  font-family: raleway;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #bc1008;
}
ul.dropdown-menu ul.dropdown-menu {
  display: inline-block;
  border-radius: 0px;
  margin-left: 15px;
}
.end_cap {
  display: none;
}
/* sidebar */
.social_icons {
  font-size: 30px;
  display: table;
  width: 100%;
}
.social_icons a {
  display: table-cell;
  width: 25%;
  text-align: center;
}
.search-submit i {
  color: #a61301;
  border: 0px;
  font-size: 25px;
  height: 40px;
  padding: 5px;
  transition: color 0.25s, background-color 0.25s;
}
.form-search {
  max-width: 100%;
}
.search-submit i:hover,
.search-submit i:focus {
  text-shadow: 0 0 5px #a61301;
  color: #ffffff;
}
.search-submit {
  border: 0px;
  background-color: transparent;
  float: right;
  padding: 0;
}
.search_form_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 40px 0 0;
  border-color: #a61301 transparent transparent transparent;
}
.search_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 40px;
  border-color: transparent transparent #a61301 transparent;
  position: absolute;
  right: 0;
}
input.search-input {
  height: 40px;
  width: calc(100% - 75px);
  border: 0px;
  background-color: #a61301;
  padding: 3px;
  color: #ffffff;
  font-size: 15px;
}
.widget_events_list {
  background-color: #1a1a1a;
}
.duration {
  color: #e6e6e6;
}
.duration .dtstart {
  color: #1a1a1a;
}
ol.vcalendar .duration .dtstart {
  color: #e6e6e6;
}
ol.vcalendar {
  padding-start: 0px;
  -webkit-padding-start: 0px;
}
.tribe-events-list-widget-events {
  background-color: #1a1a1a;
  padding: 5px !important;
  transition: background 0.25s;
}
.tribe-events-list-widget-events:hover,
.tribe-events-list-widget-events:focus {
  background-color: #4d4d4d;
}
::-webkit-input-placeholder {
  color: #e6e6e6;
  font-size: 15px;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #e6e6e6;
  font-size: 15px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #e6e6e6;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: #e6e6e6;
  font-size: 15px;
}
form.search {
  display: block;
  clear: both;
}
/* footer */
.copyright {
  font-size: 150%;
  padding-bottom: 25px;
}
.footer_logo {
  width: auto;
  height: 65px;
  float: left;
  padding-right: 10px;
}
.footer_wrapper {
  background: rgba(255, 255, 255, 0.9);
  z-index: 5000;
}
.footer_archive {
  height: 150px;
  background-color: #1a1a1a;
  margin-bottom: 25px;
}
.footer_block {
  height: 150px;
  background-color: #1a1a1a;
}
.footer_archive_title {
  background-color: #3d85b8;
  width: calc(50% - 75px);
  float: left;
  height: 100%;
  padding-top: 50px;
  text-align: center;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}
.footer_archive_title a {
  color: #ffffff;
}
.footer_archive_text {
  background-color: #1a1a1a;
  width: calc(50% - 75px);
  float: left;
  height: 100%;
  padding-top: 50px;
  text-align: center;
  color: white;
}
.footer_archive_text a {
  color: #e6e6e6;
}
.footer_archive_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 150px 150px 0 0;
  border-color: #3d85b8 transparent transparent transparent;
  float: left;
}
.header_block {
  height: 90px;
  margin-top: 25px;
}
h2.screen-reader-text {
  display: none;
}
/*------------------------------------*\
    widgets
\*------------------------------------*/
.tribe-mini-calendar td {
  background-color: #3d85b8;
}
.sidebar-right h3 {
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
}
.live_timing_widget {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
.live_timing_footer {
  background-color: #3d85b8;
  width: calc(100% - 25px);
  float: left;
  height: 25px;
  padding: 5px;
  color: white;
  font-family: 'ralewayblack';
  text-transform: uppercase;
  font-size: 14px;
}
.live_timing_footer_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #3d85b8 transparent transparent transparent;
  float: right;
}
.widget_title {
  background-color: #3d85b8;
  float: left;
  height: 50px;
  display: table;
  padding: 5px;
  width: calc(100% - 50px);
  vertical-align: middle;
}
.widget_title h3 {
  margin: 0;
  color: white;
  padding-bottom: 5px;
  font-size: 15px;
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}
.widget_events_list li {
  transition: padding 0.25s;
}
.widget_events_list li:hover,
.widget_events_list li:focus {
  padding-left: 10px !important;
}
.widget_header {
  height: 50px;
}
.race_series_widget {
  color: #1a1a1a;
  background-color: #1a1a1a;
}
.race_series_event {
  width: 100%;
  transition: background 0.25s;
  overflow: hidden;
  padding: 5px;
  background-color: #1a1a1a;
}
.race_series_event a {
  color: #e6e6e6;
  display: inline-block;
  width: calc(100% - 100px);
  padding-left: 10px;
  transition: padding-left 0.25s;
}
.race_series_event:hover,
.race_series_event:focus {
  color: #ffffff;
  background-color: #4d4d4d;
}
.race_series_event a:hover,
.race_series_event a:focus {
  text-shadow: 0 0 0.2px #3d85b8;
}
.race_series_event a:hover .race_series_title,
.race_series_event a:focus .race_series_title {
  text-shadow: 0 0 0.2px #3d85b8;
  padding-left: 10px;
}
.race_series_icon {
  width: 100px;
  height: 50px;
  float: left;
}
.race_series_title {
  vertical-align: middle;
  padding: 5px;
  text-transform: uppercase;
  font-size: 20px;
  float: left;
  transition: padding-left 0.25s;
}
.widget_oauth_twitter_widget {
  text-align: left;
  padding: 15px 0px 0px;
  list-style: none;
  margin-top: 25px;
}
.oauth-twitter-tweet {
  font-style: italic;
  background-color: #3d85b8;
  padding: 5px;
  padding-bottom: 0px;
  color: #e6e6e6;
  padding-top: 25px;
}
.oauth-twitter-tweet a {
  color: #ffffff;
}
.oauth-twitter-tweet a:hover {
  text-decoration: underline;
}
.tweet_footer {
  width: calc(100% - 25px);
  height: 25px;
  background-color: #3d85b8;
  float: left;
  display: inline;
}
.tweet_triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #3d85b8 transparent transparent transparent;
  float: right;
  display: inline;
}
.widget_oauth_twitter_widget .fa {
  font-size: 25px;
  color: #3d85b8;
  float: left;
  padding-top: 25px;
  padding-left: 25px;
}
.tweet_triangle_bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #3d85b8 transparent transparent transparent;
  float: left;
  display: inline;
}
#oauth-twitter-follow-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 55px;
  font-family: 'ralewayblack';
  font-size: 14px;
}
#oauth-twitter-widget-icon,
#oauth-twitter-widget-pic {
  float: left;
  border: 0px;
  margin-right: 5px;
}
.oauth-twitter-tweet-time {
  font: 9pt/12pt arial;
  color: #999999;
  margin-bottom: 10px;
}
.branding-container .mailmunch-branding {
  font-size: 0.1px !important;
}
.yks-mailchimpFormDivSubmit input {
  background-color: #560704;
  color: #e6e6e6;
  border: 0px;
  border-radius: 0px;
  transition: background 0.25s, color 0.25s;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.yks-mailchimpFormDivSubmit input:hover,
.yks-mailchimpFormDivSubmit input:focus {
  background-color: #a61301;
  color: #ffffff;
}
/*------------------------------------*\
    PAGES
\*------------------------------------*/
.post_gallery_image {
  width: 100%;
  height: 100px;
}
.gallery_item {
  margin-bottom: 25px;
}
.file_icon {
  width: 25px;
  height: auto;
  float: left;
  padding-right: 5px;
}
.file_upload {
  display: table-cell;
  text-align: center;
  padding: 25px;
}
.file_upload span {
  word-break: break-all;
}
.page_content_meta {
  display: table;
  width: 100%;
}
.results_table {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.results_cell {
  display: table-cell;
  word-break: break-all;
}
.results_row {
  display: table-row;
}
.results_title {
  color: #ffffff;
  width: auto;
  height: 50px;
  padding: 10px;
  float: left;
  margin-bottom: 25px;
}
/*-------*
Contact
------*/
input.wpcf7-form-control.wpcf7-submit {
  background-color: #a61301;
  color: #e6e6e6;
  transition: color 0.25s, background 0.25s;
  padding: 5px;
  text-transform: uppercase;
  border: 0px;
}
input.wpcf7-form-control.wpcf7-submit:hover,
input.wpcf7-form-control.wpcf7-submit:focus {
  color: #ffffff;
  background: #bc1008;
}
/*-------*
Events
------*/
a.tribe-events-gcal,
a.tribe-events-ical {
  float: left;
}
.tribe-events-cal-links {
  display: inline-block;
  width: 100%;
}
/*-------*
Profiles
------*/
.profile_image {
  max-width: 250px;
  height: 200px;
}
.profile_thumbnail {
  height: 200px;
  width: 100%;
}
.profile_item {
  height: 300px;
  margin-bottom: 25px;
}
/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url('fonts/font-name.eot');
  src: url('fonts/font-name.eot?#iefix') format('embedded-opentype'), url('fonts/font-name.woff') format('woff'), url('fonts/font-name.ttf') format('truetype'), url('fonts/font-name.svg#font-name') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media only screen and (max-width: 768px) {
  .body_bg {
    background-image: url('') !important;
    background-color: #e6e6e6;
  }
  .header_section {
    padding: 0;
  }
  .slider_container {
    padding: 0;
  }
  .table_container {
    display: inline-grid;
  }
}
@media only screen and (min-width: 768px) {
  .mid-wrapper {
    display: table;
    width: 100%;
  }
  .mid-section {
    display: table-cell;
    float: none;
    padding-bottom: 75px;
    vertical-align: top;
  }
  .header_wrapper {
    display: table;
    width: 100%;
    margin-top: 25px;
  }
  .header_section {
    display: table-cell;
    float: none;
  }
  .navbar-collapse {
    padding-left: 0px;
    padding-right: 0px;
  }
  .navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: auto;
    float: left;
    width: calc(100% - 25px);
  }
  .navbar-nav > li {
    display: table-cell;
    float: none;
    text-align: center;
    vertical-align: middle;
    -webkit-box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.25);
  }
  .navbar-nav > li:hover,
  .navbar-nav > li:focus {
    box-shadow: 2px 0px 1px 0px rgba(0, 0, 0, 0.5), -2px 0px 1px 0px rgba(0, 0, 0, 0.5);
  }
  .navbar-nav > li:last-child {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
  }
  .has-children-right ul {
    right: 0;
    left: inherit;
  }
  .navbar-nav > li > .dropdown-menu {
    min-width: 100%;
  }
  .table_container {
    display: table;
  }
  .mid-wrapper {
    display: table;
    width: calc(100% - 25px);
    table-layout: fixed;
  }
  .slider_triangle {
    display: table-cell;
    width: 35px;
    height: 0;
    border-style: solid;
    border-width: 35px 35px 0 0;
    border-color: #3d85b8 #a61301 transparent transparent;
  }
  .slider_triangle_left {
    display: table-cell;
    width: 35px;
    height: 0;
    border-style: solid;
    border-width: 0 0 35px 35px;
    border-color: transparent transparent #3d85b8 transparent;
  }
  .end_cap {
    display: inline;
  }
  .header_wrapper {
    position: relative;
  }
  .header_gradient_top {
    transform: skew(-45deg);
    transform-origin: bottom;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
  }
  .header_gradient_bottom {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: inline-block;
  }
  .slider_container {
    padding-left: 0;
    padding-right: 25px;
  }
  .footer_padder {
    height: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    width: calc(100% - 50px);
    display: inline-block;
  }
  .footer_gradient_top {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#80ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
  }
  .footer_gradient_bottom {
    transform: skew(-45deg);
    transform-origin: top;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, #ffffff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #ffffff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    display: inline-block;
  }
  .footer_gradient {
    height: 250px;
    position: relative;
    display: block;
    margin-top: -100px;
  }
  .footer {
    margin-top: 25px;
  }
  .triangle {
    display: inline-block;
  }
  .footer_wrapper {
    width: calc(100% - 25px);
  }
  .news_story_thumbnail {
    padding-right: 0px;
    padding-left: 0;
  }
}
@media only screen and (min-width: 800px) {
  .nav_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 25px 0 0;
    border-color: #a61301 transparent transparent transparent;
    float: right;
  }
  .nav_square {
    width: 25px;
    height: 25px;
    background-color: #a61301;
    float: right;
  }
}
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none;
}
/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
