.tribe-mini-calendar td {
  background: #3d85b8;

}

.tribe-mini-calendar .tribe-events-present, .tribe-mini-calendar .tribe-mini-calendar-today {
  background-color: rgba(16, 92, 130, 1);
}

.tribe-mini-calendar th {
	 background-color: rgba(16, 92, 130, 1);
 

}

.tribe-mini-calendar td.tribe-events-has-events {
  background-color:rgba(80, 174, 234, 1);

}

.tribe-mini-calendar td.tribe-events-has-events  a:hover{
  background-color: rgba(16, 92, 130, 0) !important;
}

.tribe-mini-calendar .tribe-events-has-events:hover {
  background-color: rgba(16, 92, 130, 1) !important;
}

.tribe-mini-calendar td.tribe-events-has-events  a{
  padding-bottom:20px;
  padding-top:0;
  padding-left:10px;
  padding-right:10px;
}

.tribe-mini-calendar .tribe-events-has-events::after { 
    content: " • ";
	color: white;
	
}